<div id="container">
  <h2>Contact Page</h2>
  <%= form_for :contact, url: contacts_path do |f| %>
    <p>
      <%= f.label :email %><br>
      <%= f.text_field :email, placeholder: "Optional" %>
    </p>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body, placeholder: "Optional" %>
    </p>
    <p><%= f.submit %></p>
  <% end %>
  <br><br><br>
  <%= link_to 'Back to Projects', projects_path, :class=>"backward" %>
</div>
