<%= render 'welcome/navbar' %> <!-- Navigation Bar -->

<h1>NEW PROJECT</h1>

<!-- The following loop is just a form for input -->
<%= form_for :project, url: projects_path do |f| %>
  <p><%= f.label :name %>: <%= f.text_field :name %></p>
  <p><%= f.label :image %>: <%= f.text_field :image %></p>
  <p><%= f.label :video %>: <%= f.text_field :video %></p>
  <p><%= f.label :description %><br><%= f.text_area :description %></p>
  <p><%= f.submit %></p>
<% end %>

<br><br><br><br><br> <!-- Much needed whitespace -->

<%= link_to 'Back', projects_path %>