<div>Name: <%= @project.name %></div>
<div>Description: <%= @project.description %></div>
<div>image: <%= @project.image %></div>
<div>video: <%= @project.video %></div>
<%= link_to 'Back', projects_path %>