<%= render 'welcome/navbar' %>
<body>
<div id="container">
    <h3><%= @project.name %></h3>
    <p><%= @project.description %></p>
    <img src= <%= @project.image %> alt="imgur.com" style="width:500px;">
    <br>
    <a href=<%= @project.video %>> Instructionional Video</a></a>
</div>

</div id="show-links">
<%= link_to 'Edit', edit_project_path(@project) %>
<%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %><br>
<%= link_to 'Back To Projects', projects_path %>
</div>

<% @project.feedbacks.each do |feedback| %>
  <p>
    <strong>Commenter:</strong>
    <%= feedback.commenter %>
  </p>
   <p>
    <strong>title:</strong>
    <%= feedback.title %>
  </p>
  <p>
    <strong>Comment:</strong>
    <%= feedback.body %>
  </p>
<% end %>
<h2>Add a feedback:</h2>
<%= form_for([@project, @project.feedbacks.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
      <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</body>
