<%= render 'welcome/navbar' %> <!-- Navigation Bar -->

<div id="container"> <!-- Feedback information -->
  <h2>FEEDBACK APPROVAL FORM</h2>
  
  <br> <!-- Much needed whitespace -->
  
  <p>Name: <%= @feedback.commenter %></p>
  <h3>Subject: <%= @feedback.title %></h3>
  <p>Body: <%= @feedback.body %></p>

  <br><br><br> <!-- Much needed whitespace -->

  <%= form_for :feedback, url: feedback_path, method: :patch do |f| %>
    <p><%= f.label 'Checking this box will allow guest to view this feedback' %>: <%= f.check_box :is_approved %></p>
    <br> <!-- Much needed whitespace -->
    <p><%= f.submit "Save Feedback Approval Settings" %></p>
  <% end %>
</div>

<br><br><br> <!-- Much needed whitespace -->

<%= link_to 'Back', feedbacks_path %>