<div id="container"> <!-- Project information -->
  <% if current_user %>
    Name: 
    <% if @feedback.commenter == '' then %> <!-- Check if anonymous -->
      Anonymous
    <% else %>
      <%= @feedback.commenter %>
    <% end %>    
    <h2>Subject: <%= @feedback.title %></h2>
    <p>Body: <%= @feedback.body %></p>
    <p>Visible: <%= @feedback.is_approved %></p>
    <br><br><br>
    <%= link_to 'Return to Feedbacks', feedbacks_path, :class=>"backward" %>
  <% else %>
    <h2>LOGIN TO VIEW CONTENT</h2>
  <% end %>
</div>