<!DOCTYPE html>
<html>
  <head>
    <title>Myfirstlabs</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Almendra+Display" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="nav_wrapper">
      <ul>
        <% if current_user %>
          <li><%= link_to "Signout", signout_path, id: "sign_out" %></li>
          <li><%= link_to 'Feedback', feedbacks_path %></li>
        <% else %>
          <li><%= link_to "Staff Login" %></li>
        <% end %>
        <li><%= link_to 'Contact', contacts_path %></li>
        <li><%= link_to 'Projects', projects_path %></li>
        <li><%= link_to 'Home', root_path %></li>
      </ul>
       <h1 align="left" >My First Labs</h1>
    </div>
    <%= yield %>
  </body>
</html>